:root {
    --bg-color: #0c0c0c;
}
body {
    background-color:  var(--bg-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    
}
 header {
    height: 100vh;
    background: url('images/Mount_Everest.png') center/contain;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
    
 }    
h1 {
    color: #ebebeb;
    text-align: center;
    margin-top: 40px;
    animation: fadeIn 2s ease-in;
}
.header-content::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 120%;
            height: 120%;
            background: radial-gradient(circle, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 70%);
            z-index: -1;
}